* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(30, 30, 46, 0.90);
}

button {
    margin: 10px;
    border-radius: 3rem;
    font-weight: bold;
    font-size: 1.25rem;
    border-color: #0b75ff;
    text-decoration-color: #cdd6f4;
    color: #cdd6f4;
    background-color: #181825;
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin-top: 4rem;
    margin-bottom: 3rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:focus, button:active, hover {
    margin: 20px;
    padding: 30px;
    outline-style: none;
    border-color: #89b4fa;
    background-size: 35%;
}

button:hover {
    border-color: #89b4fa;
    background-size: 35%;
}

#shutdown {
    background-image: url("icons/shutdown.png");
}

#reboot {
    background-image: url("icons/reboot.png");
}

#lock {
    background-image: url("icons/lock.png");
}

#logout {
    background-image: url("icons/logout.png");
}

#suspend {
    background-image: url("icons/suspend.png");
}

#hibernate {
    background-image: url("icons/hibernate.png");
}
